<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header th:fragment="navbar" class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-2">
        <!-- 이미지 -->
        <div class="col-md-2 mb-2 mb-md-0">
            <a href="/home.html"
               th:href="@{/home}"
               class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/image/home.jpg" alt="home" style="height: 40px; width: auto;">
            </a>
        </div>

        <!-- 네비게이션 메뉴 -->
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:text="#{anchor.home}" th:href="@{/home}" href="#" class="nav-link px-2 link-secondary">홈</a></li>
            <li><a th:text="#{anchor.myshop}" th:href="@{/users/{userId}(id=${userId})}" href="#" class="nav-link px-2">내 상점</a></li>
            <li><a th:text="#{anchor.sell}" th:href="@{/product/sell}" href="#" class="nav-link px-2">판매하기</a></li>
            <li><a th:text="#{anchor.chat}" th:href="@{/users/talk}" href="#" class="nav-link px-2">채팅목록</a></li>
        </ul>

        <!-- 검색어 입력창 -->
        <div class="col-md-4">
            <form th:action="@{/search/products}" class="d-flex" role="search">
                <input th:placeholder="#{placeholder.search}" type="search" class="form-control me-2" name="query" placeholder="검색어를 입력해주세요" aria-label="Search">
                <button th:text="#{button.search}" type="submit" class="btn btn-outline-success">검색</button>
            </form>
        </div>

        <!-- 로그인 및 회원가입 버튼 -->
        <div class="col-md-3 text-end">
            <button th:text="#{button.logout}" th:if="${isLoggedIn}" th:onclick="|window.location.href='@{/users/logout}'|" type="button" class="btn btn-outline-primary me-2">로그아웃</button>
            <button th:text="#{button.login}" th:unless="${isLoggedIn}" th:onclick="|window.location.href='@{/users/login}'|" type="button" class="btn btn-outline-primary me-2">로그인</button>

            <button th:text="#{button.signup}" th:unless="${isLoggedIn}" th:onclick="|window.location.href='@{/users/sign-up}'|" type="button" class="btn btn-primary">회원가입</button>
        </div>
    </header>
</body>
</html>
